// Colors
$darkgrey: #1D2125;
$mediumgrey: #26282C;
$lightgrey: #838586;
$brightgrey: #F3F3F4;
$gold: #E6A531;
$buttonblue: #23B5D3;
$buttonred: #FF3330;

// Fonts
$h1-font: 'Merriweather';
$h3-font: 'Noto Sans';
$body-font: 'Roboto Mono';