<div class="container">
  <div class="info">
    <div class="title">
      <h3>Welcome to</h3>
      <h1>Summoner's Rift</h1>
    </div>
  
    <div class="content">
      <p>
        Your mission is to end the conflicts in Valoran. The Demacia's human race, the frightening
        Nexus Empire and people from all over wait for this moment.
      </p>
      
      <app-button
        [label]="'Start Tournament'"
        [link]="'/champions'"></app-button>
    </div>
  </div>

  <div class="art"></div>
</div>